<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index Page</title>
</head>
<body>
    <h2>Display Data using Node.js & MySQL</h2>
        <%
        if(stories.length!=0){
            var i=1;
        stories.forEach(function(story){
        %>
        <p><b>Title:</b><%=story.title %></p>
        <p><b>Short text:</b><%=story.short_text %></p>
        <p><b>Author name:</b><%=story.author_name %></p>
        <p><b>Story:</b><%=story.short_text %></p>
        <img src="<%= story.img %>">
        <%  i++; })} %>
    <button onclick="location.href='insert'">Create Story</button>
</body>
</html>